
    /*    * {
            margin: 0;
            padding: 0;
        }*/

        .product-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 2.0;
            padding-top:50px;
        }

        .header-container,
        .item-container {
            width: 1200px;
        }
        
        .item-container{
			border: 1px solid #04aa6d;
    		height: auto;
    		padding: 20px;
		}

        .header-title {
            margin-bottom: 30px;
        }
        
        .header-container > .button{
        	margin-bottom: 30px;
        }

        .header-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        .item-container>.container {
            display: flex;
            width: 1200px;
            /* background-color: yellow; */
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        

        .item-container>.container>.card {
            width: 331px;
            height: 460px;
            /* border: 1px solid red; */
            margin: 0px 20px 46px 20px;
            border-radius: 5px;
        }

        .product-wrapper .sort-list {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .product-wrapper .sort-list>p {
            margin: 0 10px;
            cursor: pointer;
        }

        .product-wrapper button {
            width: 100px;
            height: 40px;
        }

        .product-wrapper .button>div {
            display: flex;
            width: 700px;
            justify-content: center;
        }

        .product-wrapper .btn-bottom-container {
            width: 400px;
            display: flex;
            justify-content: flex-end;
    		text-align: center;
        }
       
        
        .product-wrapper .btn-container > button {
            margin-left:20px;
           
        }

        .product-wrapper div.btn>button {
            width: 100px;
            height: 40px;
            margin: 0 10px;
            margin-bottom: 1px;
        }

        .product-wrapper .search-bar{
            display: flex;
            width: 700px;
    		justify-content: flex-end;
        }
        .form-outline input{
            width: 250px;
        }

        #search-button{
            width: 60px;
        }
        
        .item-content{
        	padding-top:40px;
        	padding-left: 10px;
        }
        
        .item-img{
        	height:300px;
        }
        
        .item-img>img{
        	width:328px;
        	height:295px;
        	
        }
        
        .item-content{
            display: flex;
    		flex-direction: column;
    		justify-content: center;
        	height:100px;
        }
        
   		.product-wrapper .bottom-container{
   			display:flex;
   			height:38px;
   			justify-content: center;
   		}
    	
    	div.search-bar .btn{
    		width: 70px;
    		border-radius: 12px;
    		
    	}
    	.btn-container{
    		display:flex;
    		justify-content:center;
    	}
    	
    	.button-bottom{
    		margin-right:15px;
    	}