<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>semiproject_pet-it</display-name>
  <welcome-file-list>
  	<welcome-file>main.do</welcome-file>
  </welcome-file-list>
  <error-page>
		<exception-type>com.pet.common.exception.BadAccessException</exception-type>
		<location>/views/error/badaccess.jsp</location>
	</error-page>
	<error-page>
    <error-code>404</error-code>
    <location>/views/error/error404.jsp</location>
</error-page>
<error-page>
    <error-code>500</error-code>
    <location>/views/error/error500.jsp</location>
</error-page>
</web-app>